@model List<CardLineViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-content">
    <div class="cart">
        <div class="container">
            <partial name="CardPartialView" model="Model" />
            <!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .cart -->
</div>

@section Scripts {
    <script>
        function increase(id) {

            $.ajax({
                // type: 'GET',  //default get olduğu için belirtmeden de çalışır
                url: '/Card/Increase/' + id,
                success: function (result) {
                    $('#cartrefresh').load("/Card/UpdateCard")

                },
                error: function (xhr, status, error) {

                    console.error(error);
                }
            });
        }

        function decrease(id) {
            $.ajax({
                //type: 'GET',
                url: '/Card/Decrease/' + id,
                success: function (result) {
                    $("#cartrefresh").load("/Card/UpdateCard")
                },
                error: function (xhr, status, error) {

                    console.error(error);
                }
            });
        };
    </script>
} 