@model PaymentPostViewModel

@{
    ViewData["Title"] = "SaleDetail";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Confirmation</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Home">Anasayfa<span class="lnr lnr-arrow-right"></span></a>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="order_details section_gap">
    <div class="container">
        <img src="~/theme/img/confirmation.png" /><span class="title_confirmation">TEŞEKKÜRLER</span>
        <h4 class="title_confirmation">Siparişiniz alındı. Kargoya teslim edildiğinde bilgilendirileceksiniz.</h4>
        <h2 class="title_confirmation">İyi Günler Dileriz</h2>
        <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Anasayfaya Dön</a>
    </div>
</section>
