@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Hakkımızda</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Home">Anasayfa<span class="lnr lnr-arrow-right"></span></a>
                    <a href="About">Hakkımızda</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start Hakkımızda Area -->
<section class="about_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img_wrapper">
                    <!-- Eğer kuruluşunuzun logosunu kullanmak istiyorsanız, src attribute'ünü uygun bir adresle değiştirin -->
                    <img class="img-fluid" src="images/Wissen.jpp" alt="Kuruluş Logosu" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="content_wrapper">
                    <h2>Biz Kimiz ?</h2>
                    <p>
                        Mamby, yazılım alanındaki bilgi birikimini ve Wissen Akademiden mezun olan Murat Akpınar ve Mahir Buğra Yaşar'ın tecrübelerini birleştiren bir başarı öyküsüdür.
                    </p>
                    <p>
                        Murat ve Mahir, yazılım dünyasında edindikleri deneyim ve becerilerini kullanarak Mamby'yi başarıyla tamamladılar. Bu projede, yazılım teknolojilerini kullanarak kullanıcı dostu bir platform oluşturmayı hedeflediler.
                    </p>
                    <p>
                        Mamby, kullanıcılarına etkileşimli ve zengin bir deneyim sunmayı amaçlamaktadır. İki arkadaşın tutkulu çalışmaları ve başarıları, Mamby'nin sizlere en iyi hizmeti sunmasını sağlamıştır.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hakkımızda Area -->
