
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Giriş Yap</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Home">Anasayfa<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Giriş Yap</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row m-5">
        <div class="col-md-3">
            <vc:category></vc:category>
        </div>
        <div class="col-md-9">
          <vc:product></vc:product>
        </div>
    </div>
</div>

