@model UserViewModel

@if (Model.AccessToken != null)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Profile" asp-action="Index" asp-route-id="@Model.Id "id="loginLink"> Hesabım (@Model.UserName)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Logout" id="registerLink">Çıkış Yap</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login" id="loginLink"> Giriş Yap</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register" id="registerLink"> Üye Ol</a>
    </li>
}
