@model LoginViewModel
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Giriş Yap</h1>
				<nav class="d-flex align-items-center">
					<a asp-action="Index" asp-controller="Home">Anasayfa<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Giriş Yap</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="~/theme/img/login.jpg" alt="">
					<div class="hover">
						<h4>Web sitemizde yeni misiniz?</h4>
						<p>Mamby’e giriş yap veya hesap oluştur, indirimleri kaçırma!</p>
						<a class="primary-btn" asp-action="Register" asp-controller="Account">Hesap Oluşturun</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Oturum Açın</h3>
					<form class="row login_form" asp-action="Login" asp-controller="Account" method="post" id="contactForm">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" asp-for="UserName" placeholder="Kullanıcı Adı" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							<span asp-validation-for="UserName" class="text-danger"></span>
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="name" asp-for="Password" placeholder="Parola" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="col-md-12 form-group">
							<div class="creat_account">
								<input type="checkbox" id="f-option2" name="selector">
								<label for="f-option2">Oturumu Açık Tut</label>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Giriş Yap</button>
							<a href="#">Parolanızı mı Unuttunuz?</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->
