@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Şifre Sıfırla";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Şifre Sıfırla</h1>
                <nav class="d-flex align-items-center">
                    <a asp-action="Index" asp-controller="Home">Anasayfa<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Şifre Sıfırla</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================ Reset Password =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-12">
                <div class="login_form_inner">
                    <h3>Şifre Sıfırla</h3>
                    <form class="row login_form" asp-action="ResetPassword" asp-controller="Account" method="post" id="contactForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="col-md-12 form-group">
                            <input type="hidden" asp-for="Id" />
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" asp-for="Username" placeholder="Kullanıcı Adı" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Kullanıcı Adı'">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="email" class="form-control" asp-for="Email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="hidden" asp-for="Token" />
                        </div>
                        <div class="col-md-12 form-group">
                            <a class="primary-btn text-white" type="submit" value="submit" asp-action="SetNewPassword" asp-controller="Account" >Hesabımı Doğrula</a>
                            <br /><br /><br /><br /><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Reset Password =================-->
