@model List<CategoryViewModel>


<div class="sidebar-categories">
    <div class="head">Kategoriler</div>
    @foreach (var item in Model)
    {
        <ul class="main-categories">
            <li class="main-nav-list">
                <a class ="main-nav-list" asp-action="Index" asp-controller="Product" asp-route-id="@item.Id">
                    <span class="lnr lnr-arrow-right"></span>@item.CategoryName
                </a>
            </li>
        </ul>
    }
    </div>
   

